Webpack (imports/exports)
    Babel
    Scss
    Eslint
    2 Modes
        -Dev
            Dev Server, Source Map, EsLint, Nor Minified JS & CSS
        -Prod
            Minified Code
Git
    Production
        1.0.0
    Development
        1.0.2


